body {
  width: 100%;
  height: 100%;
  margin: auto 0;
  /*  background-image: url('images/condense.png');
  background-size: cover;
  background-position: fixed;*/
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -10;
  background-image: url('images/condense.png');
  background-size: cover;
  background-position: fixed;
}

.header {
  width: 100%;
  height: 120px;
  background: rgba(54, 25, 25, 0.5);
}

.p {
  float: right;
  margin: 50px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.p:hover {
  border: 1px dotted black;
  border-radius: 7px;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'oleo script';
}

h2 {
  text-align: center;
  border: 1.95px dotted black;
  width: 100%;
  margin: 0;
  font-family: 'oleo script';
  font-size: 35px;
}

h3 {
  font-family: 'oleo script';
  font-size: 35px;
  text-align: center;
}

h4 {
  font-family: 'arima madurai';
  font-size: 15px;
  display: block;
}

h5 {
  font-family: 'oleo script';
  font-size: 25px;
  display: inline;
}

p {
  text-align: center;
  font-size: 35px;
  font-family: 'arima madurai';
}

ul {
  text-align: center;
  list-style: none;
  padding: 0;
}

li {
  margin: 30px;
  font-family: 'arima madurai';
}

.pics {
  text-align: center;
  width: 100%;
}

img {
  border: solid white 2px;
  height: 400px;
  width: 478px;
  margin: 5px;
}

.pic {
  width: 478px;
  display: inline-block;
  text-align: center;
  margin: 0
}

.me {
  width: 70px;
  height: 100px;
  border-radius: 50%;
  margin: 5px;
  border: 4px solid white;
  opacity: 1;
  position: static;
}

.sm {
  width: 70px;
  height: 70px;
  float: right;
}

.icons {
  text-align: center;
  background: rgba(54, 25, 25, 0.5);
  width: 100%;
  height: 80px;
}
